@page "{id:Guid}"
@using Markdig;
@model IHateBlogs.Pages.PostModel
@{
}


<div class="row">
    <div class="col-1 my-auto">
        <svg width="50" height="50" viewBox="0 0 10 10">
            <defs>
                <radialGradient id="myGradient">
                    <stop offset="10%" stop-color="gold" />
                    <stop offset="95%" stop-color="red" />
                </radialGradient>
            </defs>

            <circle cx="5" cy="5" r="4" fill="url('#myGradient')" />
        </svg>
    </div>
    
    <div class="col">
        <small class="row d-flex">
            @Model.Requester
        </small>
        <small class="row d-flex">
            @Model.State @Model.FinishedAt
        </small>
        <small class="row d-flex">
            @Model.Tone &#x2022 @Model.Audience &#x2022 @Model.ReadTime
        </small>
    </div>
</div>
<hr />
<div>@Model.MarkdownContent</div>